In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
# creating a series

s = pd.Series([1, 2, 4, 5, 8, 0])

In [4]:
s

0    1
1    2
2    4
3    5
4    8
5    0
dtype: int64

In [5]:
# dates
dates = pd.date_range('20170502', periods=6)

In [6]:
dates

DatetimeIndex(['2017-05-02', '2017-05-03', '2017-05-04', '2017-05-05',
               '2017-05-06', '2017-05-07'],
              dtype='datetime64[ns]', freq='D')

In [7]:
# adding more columns Create an array of the given shape and populate it with random samples from a uniform distribution over [0, 1)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2017-05-02 -0.591219 -0.146437 -0.274548 -0.286455
2017-05-03  0.425355  0.933174 -1.608417 -2.158265
2017-05-04 -0.566428 -1.080902 -0.136905 -0.028301
2017-05-05  0.195006  1.183251 -1.393032  0.506994
2017-05-06 -0.387151  0.326863 -1.561638  0.401820
2017-05-07  0.408716  0.288145  0.975636  0.011894

In [9]:
# viewing the data
df.head()

                   A         B         C         D
2017-05-02 -0.591219 -0.146437 -0.274548 -0.286455
2017-05-03  0.425355  0.933174 -1.608417 -2.158265
2017-05-04 -0.566428 -1.080902 -0.136905 -0.028301
2017-05-05  0.195006  1.183251 -1.393032  0.506994
2017-05-06 -0.387151  0.326863 -1.561638  0.401820

In [10]:
df2 = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [11]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [12]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
df.values

array([[-0.59121868, -0.14643718, -0.27454779, -0.28645498],
       [ 0.42535547,  0.93317446, -1.60841676, -2.15826506],
       [-0.56642816, -1.0809024 , -0.13690501, -0.02830069],
       [ 0.19500641,  1.18325081, -1.39303206,  0.50699421],
       [-0.38715131,  0.32686341, -1.56163765,  0.40181993],
       [ 0.40871631,  0.28814488,  0.9756356 ,  0.01189367]])

In [15]:
df['A']

2017-05-02   -0.591219
2017-05-03    0.425355
2017-05-04   -0.566428
2017-05-05    0.195006
2017-05-06   -0.387151
2017-05-07    0.408716
Freq: D, Name: A, dtype: float64

In [18]:
df[0:3]

                   A         B         C         D
2017-05-02 -0.591219 -0.146437 -0.274548 -0.286455
2017-05-03  0.425355  0.933174 -1.608417 -2.158265
2017-05-04 -0.566428 -1.080902 -0.136905 -0.028301

In [19]:
 df.loc[2:3]

TypeError: cannot do slice indexing on <class 'pandas.tseries.index.DatetimeIndex'> with these indexers [2] of <class 'int'>

In [21]:
df.loc[:,['A','B']]

                   A         B
2017-05-02 -0.591219 -0.146437
2017-05-03  0.425355  0.933174
2017-05-04 -0.566428 -1.080902
2017-05-05  0.195006  1.183251
2017-05-06 -0.387151  0.326863
2017-05-07  0.408716  0.288145

In [22]:
df.loc[dates[0]] #Reduction in the dimensions of the returned object

A   -0.591219
B   -0.146437
C   -0.274548
D   -0.286455
Name: 2017-05-02 00:00:00, dtype: float64

In [23]:
df.loc['20170502':'20170504',['A','B']]

                   A         B
2017-05-02 -0.591219 -0.146437
2017-05-03  0.425355  0.933174
2017-05-04 -0.566428 -1.080902

In [24]:
 df.loc[dates[0],'A'] #For getting a scalar value

-0.59121867971678765

In [28]:
df.loc[dates[1]:,'A':'C']

                   A         B         C
2017-05-03 -0.896606 -0.122648  0.305300
2017-05-04 -0.816219 -1.405787 -1.316101
2017-05-05 -1.363737 -0.930306 -0.018835
2017-05-06 -0.657572 -0.440654  0.495825
2017-05-07 -0.567169 -1.216966 -0.016336

In [38]:
df.loc[:, df.loc['2017-05-03'] > 0]  # needs index

                   C         D
2017-05-02 -0.259305 -1.010416
2017-05-03  0.305300  0.230465
2017-05-04 -1.316101  0.453008
2017-05-05 -0.018835 -0.047261
2017-05-06  0.495825  0.614085
2017-05-07 -0.016336  0.103857

In [39]:
# Selection by Position
df.iloc[2:4, 1:3]

                   B         C
2017-05-04 -1.405787 -1.316101
2017-05-05 -0.930306 -0.018835

In [40]:
df.iloc[2]

A   -0.816219
B   -1.405787
C   -1.316101
D    0.453008
Name: 2017-05-04 00:00:00, dtype: float64

In [42]:
# For slicing rows explicitly
df.iloc[1:3,:]

                   A         B         C         D
2017-05-03 -0.896606 -0.122648  0.305300  0.230465
2017-05-04 -0.816219 -1.405787 -1.316101  0.453008

In [43]:
#For slicing columns explicitly
df.iloc[:,1:3]

                   B         C
2017-05-02  0.161964 -0.259305
2017-05-03 -0.122648  0.305300
2017-05-04 -1.405787 -1.316101
2017-05-05 -0.930306 -0.018835
2017-05-06 -0.440654  0.495825
2017-05-07 -1.216966 -0.016336

In [44]:
df.iat[1,1]

-0.12264793385135557

In [50]:
#A where operation for getting.
df[df > 0]

             A         B         C         D
2017-05-02 NaN  0.161964       NaN       NaN
2017-05-03 NaN       NaN  0.305300  0.230465
2017-05-04 NaN       NaN       NaN  0.453008
2017-05-05 NaN       NaN       NaN       NaN
2017-05-06 NaN       NaN  0.495825  0.614085
2017-05-07 NaN       NaN       NaN  0.103857

In [53]:
df2 = df.copy()

In [54]:
df2['E'] = ['one', 'one','two','three','four','three']

In [55]:
df2

                   A         B         C         D      E
2017-05-02 -0.061829  0.161964 -0.259305 -1.010416    one
2017-05-03 -0.896606 -0.122648  0.305300  0.230465    one
2017-05-04 -0.816219 -1.405787 -1.316101  0.453008    two
2017-05-05 -1.363737 -0.930306 -0.018835 -0.047261  three
2017-05-06 -0.657572 -0.440654  0.495825  0.614085   four
2017-05-07 -0.567169 -1.216966 -0.016336  0.103857  three

In [56]:
df2['E'].isin(['two','four'])

2017-05-02    False
2017-05-03    False
2017-05-04     True
2017-05-05    False
2017-05-06     True
2017-05-07    False
Freq: D, Name: E, dtype: bool

In [58]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2017-05-04 -0.816219 -1.405787 -1.316101  0.453008   two
2017-05-06 -0.657572 -0.440654  0.495825  0.614085  four

In [66]:
df2.to_csv('test.csv')

In [67]:
df3 = pd.read_csv('test.csv')

In [68]:
df3

   Unnamed: 0         A         B         C         D      E
0  2017-05-02 -0.061829  0.161964 -0.259305 -1.010416    one
1  2017-05-03 -0.896606 -0.122648  0.305300  0.230465    one
2  2017-05-04 -0.816219 -1.405787 -1.316101  0.453008    two
3  2017-05-05 -1.363737 -0.930306 -0.018835 -0.047261  three
4  2017-05-06 -0.657572 -0.440654  0.495825  0.614085   four
5  2017-05-07 -0.567169 -1.216966 -0.016336  0.103857  three

In [69]:
df3 = pd.read_csv('test.csv', index_col=0)

In [70]:
df3

                   A         B         C         D      E
2017-05-02 -0.061829  0.161964 -0.259305 -1.010416    one
2017-05-03 -0.896606 -0.122648  0.305300  0.230465    one
2017-05-04 -0.816219 -1.405787 -1.316101  0.453008    two
2017-05-05 -1.363737 -0.930306 -0.018835 -0.047261  three
2017-05-06 -0.657572 -0.440654  0.495825  0.614085   four
2017-05-07 -0.567169 -1.216966 -0.016336  0.103857  three

In [71]:
###### station

In [78]:
dfs = pd.DataFrame(columns =['Users', 'Entry', 'Exit'])

In [79]:
dfs

Empty DataFrame
Columns: [Users, Entry, Exit]
Index: []

In [80]:
dfs.Users

Series([], Name: Users, dtype: object)

In [81]:
len(dfs.Users)

0

In [121]:
data = {'Users':[101]}

In [122]:
dfss = pd.DataFrame(data)

In [125]:
dfs = dfs.append(dfss)

In [126]:
dfs

  Entry Exit  Users
0   NaN  NaN  101.0

In [115]:
from datetime import datetime

In [128]:
now = datetime.now()

In [129]:
now

datetime.datetime(2017, 5, 2, 22, 59, 30, 697819)

In [130]:
now.second

30

In [131]:
a = 101

In [132]:
dfs['Entry'][dfs.Users==a] = now

c:\users\dhvani\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [133]:
dfs

                        Entry Exit  Users
0  2017-05-02 22:59:30.697819  NaN  101.0